.section1{
    text-align: center;
    width: 100%;
   
    h4{
        padding-top: 80px;
    }
 h2{
     font-size: 3rem;
     margin: 50px 400px;
     font-family: font-2;
     text-transform: uppercase;
     font-weight: bold;
 }
 p{
     line-height: 30px;
     margin: auto 400px;
 }
 img{
     width: auto;
     max-height: 80vh;
     
 }
button{
align-items: center;
margin: 20px 300px;
 }
}

